NEO-Compiler/bin/
NEO-Debugger/bin/
NEO-Debugger/obj/
packages/
NEO-VM/obj/
NEO-Compiler/obj/
.vs/
NEO-AVMLib/obj/
NEO-CLI-Disassembler/bin/
NEO-CLI-Disassembler/obj/
Example/
ICO-Template/bin/
ICO-Template/obj/
NEO-DevShell/bin/
NEO-DevShell/obj/
