<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net40" />
  <package id="Neo.SmartContract.Framework" version="2.3.0" targetFramework="net45" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net45" />
</packages>